
#sermon{
	margin: 100px 0px;
}
.box-image{
	width:100%;
	height:100px;
}
.head{
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
}
.head a{
	font-size: 30px;
}
.growth{
	text-align: left;
	font-size: 20px;
	letter-spacing: 3px;
}
.headings{
	color:#fff;
	text-align: center;
	margin-top:100px;
}
.the-link{
	display: flex;
	justify-content: space-around;


}
.the-link .fa-twitter{
	background-color: gray;
	color: white;
	padding: 10px;
	border-radius: 50%;
	justify-content:  center;

}
.the-link .fa-facebook{
	background-color:gray;
	color: white;
	padding: 10px;
	border-radius: 50%;
	justify-content:  center;

}
.the-link .fa-instagram{
	background-color: gray;
	color: white;
	padding: 10px;
	border-radius: 50%;
	justify-content:  center;

}

.event{
	width:50%;
	height: 100px;
	background-color:#fff;
	margin:100px auto;
	position: relative;
	top:50px;


	display: flex;
	justify-content: flex-end;
	border-radius: 12px;
	box-shadow: 3px 3px 3px black;
}
@media(max-width: 1200px){
	.event{
		width: 90%;
	}
}